<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">My App</li>
        <li><%= link_to 'Mostrar posts', posts_path %></li>   
        <% if user_signed_in? %>                  
            <li><%= link_to 'Crear nuevo post', new_post_path %></li>   
        <% end %>        
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
    	<% if user_signed_in? %>
      		<li>Logged in as <strong><%= current_user.email %></strong></li>
      		<li><%= link_to 'Editar perfil',edit_user_registration_path, :class=>'navbar-link'%></li>
      	 	<li><%= link_to 'Salir',destroy_user_session_path, method: :delete, :class=>'navbar-link'%></li>
      <% elsif admin_signed_in? %>
          <li>Logged in as admin <strong><%= current_admin.email %></strong></li>
          <li><%= link_to 'Editar perfil',edit_admin_registration_path, :class=>'navbar-link'%></li>
          <li><%= link_to 'Salir',destroy_admin_session_path, method: :delete, :class=>'navbar-link'%></li>
      <% else %>
      		<li><%= link_to 'Registro',new_user_registration_path, :class=>'navbar-link'%></li>
      		<li><%= link_to 'Ingresar',new_user_session_path, :class=>'navbar-link'%></li>
      <% end %>
    </ul>
  </div>  
</div>