<h1>Post creados</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Contenido</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td>
          <% if post.body.length > 0 %>
            <a href="#" data-open="post-<%= post.id %>">Ver detalles</a>
            <div id="post-<%= post.id %>" class="reveal" data-reveal>
              <%= post.body %>
              <button class="close-button" data-close aria-label="cerrar" type="button">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          <% end %>
        </td>
        <td><%= link_to 'Mostrar', post %></td>
        <td><%= link_to 'Editar', edit_post_path(post) %></td>
        <% if admin_signed_in? %>
        <td><%= link_to 'Eliminar', post, method: :delete, data: { confirm: '¿Estas seguro de eliminarlo?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>