<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'posts/navigation' %>

    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String)%>
      <%= content_tag :div, msg, class:"callout #{name}", data:{'closable' => 'close'} %>
      <% end %>
    <% end %>
    
    <!--<% if notice %>
      <p class="callout success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="callout alert" ><%= alert %></p>
    <% end %>-->

    <%= yield %>

  </body>
</html>
